@import "/src/styles/varibles";

.dropzone {
  margin-top: 1rem;
  flex-grow: 3;
}
.dropzone-wrapper {
  max-height: 453px;
  display: flex;
  flex-direction: column;
  height: 453px;
}
.dropzone-stack {
  flex: initial !important;
  > div {
    margin-bottom: 1rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
.dropzone-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px dashed #C4C4C4;
  border-radius: 6px;
  max-width: $standard-block-width;
  height: 453px;
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    max-width: 106px;
    color: #6B7280;
  }
  &.active-drag {
    background: #F0F9FF;
  }
}
.dropzone-title{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 1rem;
  color: #5D5FEF;
}